<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <!--define key values here -->
    <add key="ChannelVersion" value="2.02" />
    <add key="ChannelProduct" value="ASA Software Pro" />
    <add key="ChannelURI" value="7468" />
    <add key="GovTalkDetailsKeyType" value="VATRegNo" />
    <add key="GovTalkDetailsKey" value="999900001" />
    <add key="GovTalkMessageEnvelopeVersion" value="2.0" />
    <add key="submissionurl" value="https://test-transaction-engine.tax.service.gov.uk/submission" />
    <add key="pollurl" value="https://test-transaction-engine.tax.service.gov.uk/poll" />
    <add key="IRurl" value="http://www.govtalk.gov.uk/taxation/vat/vatdeclaration/2" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="FMSystemEntities" connectionString="metadata=res://*/Model.FMSystem.csdl|res://*/Model.FMSystem.ssdl|res://*/Model.FMSystem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LBRCWSQLDEV01;initial catalog=FMSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ASAEntities" connectionString="Data Source=LBRLT30192\SQLEXPRESS;Initial Catalog=ASAData;User Id=localdev;Password=localdev;" providerName="System.Data.SqlClient" />-->
    
  </connectionStrings>
</configuration>