<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 <appSettings>
      <!--define key values here -->
      <add key="ChannelVersion" value="2.02" />
      <add key="ChannelProduct" value="ASA Software Pro" />
      <add key="ChannelURI" value="7468" />
      <add key="GovTalkDetailsKeyType" value="VATRegNo" />
      <add key="GovTalkDetailsKey" value="999900001" />
      <add key="GovTalkMessageEnvelopeVersion" value="2.0" />
      <add key="submissionurl" value="https://secure.dev.gateway.gov.uk/submission" />
      <add key="pollurl" value="https://secure.dev.gateway.gov.uk/poll" />
      <add key="IRurl" value="http://www.govtalk.gov.uk/taxation/vat/vatdeclaration/2" />
    </appSettings>
</configuration>